
.posts a:link {
    color: rgb(240, 217, 114);
    background-color: transparent;
    text-decoration: none;
}
.posts a:visited {
    color: rgb(180, 170, 124);
    background-color: transparent;
    text-decoration: none;
}
.posts a:hover {
    color: rgb(80, 118, 223);
    background-color: transparent;
    text-decoration: underline;
}
